@mixin btn-default {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  &:focus {
    outline: none!important;
  }
  border-radius: 8px;
  height: 50px;
  width: 100%;
  color: #FFFFFF;
  transition: .3s;
}

@mixin btn-blue {
  background: #4a90e2;
}

@mixin btn-filter {
  transition: .3s;
  &:hover {
    -webkit-filter: brightness(.92) saturate(.92) hue-rotate(-2deg);
    filter: brightness(.92) saturate(.92) hue-rotate(-2deg);
  }
  &:active {
    -webkit-filter: brightness(.84) saturate(.84) hue-rotate(-5deg);
    filter: brightness(.84) saturate(.84) hue-rotate(-5deg);
  }
  &:disabled {
    cursor: default;
    background: #f3f3f3;
    color: #91979c;
    filter: none;
  }
}

@mixin dark {
  $bgMain: #093450;
}

@mixin container {
  width: 100%;
  max-width: 1250px;
  @include _1400 {
    max-width: 1100px;
  }
  @include _1199 {
    max-width: 850px;
  }
  @include _991 {
    max-width: 100%;
    padding: 0 20px;
  }
}

@mixin _1700 {
  @media (max-width: 1700px) {
    @content;
  }
}

@mixin _1600 {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin _1500 {
  @media (max-width: 1500px) {
    @content;
  }
}


@mixin _1400 {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin _1199 {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin _991 {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin _767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin _575 {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin _380 {
  @media (max-width: 380px) {
    @content;
  }
}

@mixin modal {
  &__x {
    padding: 0 5px;
  }
  &__box {
    word-break: break-word;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    max-width: 400px;
    min-height: 160px;
    text-align: left;
  }
  &__fields {
    margin-bottom: 40px;
  }
  &__btns {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
  &__body {
    padding: 30px;
    position: relative;
    background: $bg-secondary;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__content {
  }
  &__title {
    font-size: 18px;
  }
}
