
/*$color: var(--color);*/

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #449779;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --shadow: 0px 2px 20px 0px rgba(255, 255, 255, 0.2);
}

body {
  color: var(--color);
}
